---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ParallaxBanner from '../components/ParallaxBanner.astro'; 
import Products from '../components/Products.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Voltedge Energy | High Voltage">
  <Navbar />
  <Hero />
  
  <ParallaxBanner />
  
  <div id="cataleg">
    <Products />
  </div>
  <Footer />
</Layout>