
<header class="relative h-screen w-full flex items-center justify-center overflow-hidden">
  <video autoplay loop muted playsinline class="absolute z-10 w-auto min-w-full min-h-full max-w-none object-cover brightness-[0.55]">
    <source src="/VIDEOHEROSECTION.mp4" type="video/mp4" />
  </video>

  <div class="relative z-20 text-center text-white px-4 max-w-4xl mt-16">
    <span class="text-xs font-bold tracking-widest uppercase bg-[#ffeb3b] text-black px-3 py-1 rounded-full mb-4 inline-block">
      Fórmula d'Alt Rendiment
    </span>
    <h1 class="text-5xl md:text-8xl font-black uppercase tracking-tight leading-none mb-6">
      SENTEIX EL <br><span class="text-[#ffeb3b]">VOLTATGE</span>
    </h1>
    <p class="text-base md:text-lg font-medium max-w-xl mx-auto mb-8 text-gray-300">
      Deslliga el teu potencial físic i mental. Dissenyat específicament per trencar els teus límits diaris.
    </p>
   
  </div>
 
</header>