<nav class="fixed top-0 left-0 w-full h-20 bg-black/80 backdrop-blur-md border-b border-neutral-900 z-50 px-6">
  <div class="max-w-7xl mx-auto h-full flex justify-between items-center relative">
    
    <a href="/" class="absolute left-0 top-1/2 -translate-y-1/2 transition duration-300 hover:opacity-80 z-10">
      <img 
        src="/logo.png" 
        alt="Voltedge Logo" 
        class="h-30 md:h-40 w-auto object-contain" 
      />
    </a>

    <div class="flex gap-6 text-sm font-medium ml-auto">
      <a href="/#cataleg" class="text-gray-400 hover:text-white transition duration-200">Sabors</a>
      <a href="/energia-activa" class="text-gray-400 hover:text-white transition duration-200">Energia Activa</a>
        <a href="/atletes" class="text-gray-400 hover:text-white transition duration-200">Atletes</a>
    </div>

  </div>
</nav>