---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ca" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Voltedge Energy Drink" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
	</head>
	<body class="bg-[#f5f5f5] text-[#111] font-['Montserrat',sans-serif] antialiased overflow-x-hidden m-0 p-0">
		<slot />
	</body>
</html>